body{
    font-family: 'Work Sans', sans-serif;
  
}
header {
    background-color: #70a48b;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
     }

.top-logo{
        height: 70px;
        flex-direction: center;
        margin: 20px 0px;
    }

.Nav{
    border: 2px solid white;
    color: white;
    width: 75%;
    float: none;
    border-radius: 10px;
    padding: 25px 0px;
    display: inline;  
}
li{
    margin: 1.5em ;
    height: 90px;
    list-style: none;
    display: inline;  
    align-items: stretch; 
}
#donation{
    background-color: #1f211c;
    margin: 40px;
    padding: 10px;
    border-radius: 10px;
}
.locations {
    margin-top: 25px;
}

h2{
    margin-top: 0%;
    display:flex;
    width: 90%; 
    align-items: center;
}
.content{
    margin: 0px 90px 60px 90px;

}
.buttons{
    color: white;
    background-color: #70a48b;
    border:2px solid #1f211c;
    width: 45em;
    margin: 0px 0px 25px 25px;
    padding-left: 10px; 
    padding: 5px;
    border-radius: 1em;
    margin-left: 30px ;
}

.textContent{
    Width: 45em;
    margin:10px 20;
}

.friends{
    width: 100%;
}
.pic{
    border-radius: 10px;
    width: 40%;
    margin:5px;
    margin-bottom: 10px;
}

.pix{
    width: 500px;
    margin-bottom:45px;

} 
footer {
        position:fixed;
        background-color: #70a48b;
        height:105px;
        width:100%;
        bottom:0px;
        margin-top: 4px;

 }      
.botLogo{
    position:fixed;
    height: 100px;
    background-color: #70a48b;
    bottom:0px;
   
}
@media screen and (min-width: 768px){
  
    header{
        flex-direction: row;
        height: 150px;
       
    }
    .top-logo{
        height:75px;
        margin-left: 10px;
        /* border: 20px; */
        /* justify-content: flex-end; */
    }
    .Nav{
        float:right;
        margin-left: 575px;
        Margin-right: 225px;
        /* position: relative; */
        padding:10px 25p;
        justify-content: center;
    }
    #donation{
        margin:5px 0px;
    }
        
    }
    ul{
        float:inline-end;
        justify-content:space-evenly;
    }
    li{
        margin: 5px;
        list-style: none;
        display: inline;
        /* justify-content:right; */
        /* align-items: center; */
    }
    .content{
        flex-direction:row;
        margin-right: 550px;
        margin-left:25px;

        width: 375px;
        Height: 100px;
        /* height:fit-content; */
    }
   
    .locations{
        width: 775px;
        }
    .buttons{
        width:63%; 
    }
    
    .friends{
        position: relative;
        margin-left: 550px;
        width: 48%;
        /* justify-content: end; */
    } 
    .pix{
        width: 750px; 
        float:inline-end;
        border-radius: 10px;
        margin-bottom: 75px;
        position:relative;

    }
    
    .topRow{
        position: relative;
        display: flexbox;
        margin-left: 550px;
        flex-direction: row;
    }
