body{
    font-family: 'Work Sans', sans-serif;
  
}
header {
    background-color: #70a48b;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
     }

.top-logo{
        height: 70px;
        flex-direction: center;
        margin: 20px 0px;
    }

.Nav{
    border: 2px solid white;
    color: white;
    width: 75%;
    float: none;
    border-radius: 10px;
    padding: 25px 0px;
    display: inline;  
}
li{
    margin: 1.5em ;
    height: 90px;
    list-style: none;
    display: inline;  
    align-items: stretch; 
    justify-content: center;
}
#donation{
    background-color: #1f211c;
    margin: 40px;
    padding: 10px;
    border-radius: 10px;
}
.locations {
    margin-top: 25px;
}

h2{
    margin-top: 0%;
    display:flex;
    width: 90%; 
    align-items: center;
}
.content{
    margin: 10px 20px;

}
.buttons{
    color: white;
    background-color: #70a48b;
    border:2px solid #1f211c;
    width: 35em;
    margin:25px;
    padding-left: 10px; 
    padding: 5px;
    border-radius: 1em;
    margin-left: 30px ;
}

.textContent{
    Width: 45em;
    margin:10px 10px;
}

.friends{
    width: 100%;
    margin-top: 75px;
}
.pic{
    border-radius: 10px;
    width: 45%;
    margin:5px;
    margin-bottom: 10px;
    justify-items: center;
}

.pix{
    width: 500px;
    margin-bottom:45px;

} 
footer {
        position:fixed;
        background-color: #70a48b;
        height:55px;
        width:100%;
        bottom:0px;
        margin-top: 4px;

 }      
.botLogo{
    position:fixed;
    height: 40px;
    margin:10px;
    background-color: #70a48b;
    bottom:0px;
   
}
@media screen and (min-width: 768px){
  
    header{
        flex-direction: row;
        
        height:20%;
       
    } 
    .top-logo{
        height:275px;
        margin-left: 10px;
        border: 60px; 
      
    }
    .Nav{
        height: 150px;
        margin-left: 575px;
        Margin-right: 225px;
       
       
    } 
     #donation{
        margin:5px 0px;
    }
    
    ul{
        float:inline-end;
        justify-content:space-evenly; 
    }
    /* li{
        margin: 5px;
        list-style: none;
        display: inline;
        justify-content:right;
        align-items: center; */
    /* }
    .content{
        flex-direction:row;
        margin-right: 550px;
        margin-left:25px;

        width: 375px;
        Height: 100px;
        /* height:fit-content; 
    }*/
    
    /* .locations{
        width: 775px;
        } */
     .buttons{
        width:33%; 
        height: 185px;
    } 
    
    .friends{
        position: relative;
        margin-left: 1275px;
        width: 60%;
        justify-content: end;
    }  
     .pix{
        width: 60%; 
        position: relative;
        border-radius: 10px;
        margin-left: 1275px;
     }
        .pic{
            border-radius: 20px;
            width: 25%;
            margin:25px;
            margin-bottom: 10px;
            margin-left: 2px;
        }
    } 
