body{
    font-family: 'Work Sans', sans-serif;
  
}
header {
    background-color: #70a48b;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25em;
    width: 100%;
     }
.top-logo{
     display: flex;
        height: 90px;
        flex-direction: center;
        margin: 20px 20px;  
    }

.Nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid white;
    color: white;
    width: 60%; 
    border-radius: 10px;
    height: 25px;
    padding:25px;
   
}
#donation{
    display: flex;
    background-color: #1f211c;
    padding: 15px;
    border-radius: 10px;
}

li{
    display: flex;
    margin: 1.5em ;
    height: 5px;
    list-style: none;
    align-items: center;
}

h2{
    display:flex;
    margin-top: 0%;
    width: 90%; 
    align-items: center;
}
h3{
    height:2em;
}
 .content{ 
     display: flexbox;
     flex-direction: column;
    width:100%
}
.locations { 
     width: 90%; 
     margin-top: 25px;
 
 } 
.buttons{
    display: flex;
    color: white;
    background-color: #70a48b;
    border:2px solid #1f211c;
    padding:5px;
    border-radius: 10px;
    justify-content: left;
    margin-bottom: 5px;
}

.textContent{
    Width: 45em;
    margin:10px 10px;
}

.friends{
    width: 100%;
    margin-top: 75px;
}
.pix{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 45%;
    margin-bottom:75px;
    margin-right: 10px;

} 
.pic{
    display: flex;
    border-radius: 10px;
    width: 55%;
    margin:5px;
    align-items:center;
    margin-bottom: 10px; 
}
footer {
        position:fixed;
        background-color: #70a48b;
        height:55px;
        width:100%;
        bottom:0px;
        margin-top: 4px;
 }      
.botLogo{
    position:fixed;
    height: 40px;
    margin:10px;
    background-color: #70a48b;
    bottom:0px;
   
}
@media screen and (min-width: 768px){
  
   header{ 
        display: flex;
        flex-direction: row; 
        align-items: center;
        height:15%; 
    } 
    .top-logo{
        height:15%; 
        margin-left: 10px;
        border-radius:10px;
    }
    .Nav{
        display:flex;
        width:35%;
        flex-direction:center;
        margin-left:270px;
        margin-right:15px; 
    } 
     #donation{
        margin:5px 0px;
        border-radius:10px;
    }
    
    ul{
        height: 750px;
        justify-content:space-evenly; 
    }
    li{
        margin: 5px;
        list-style: none;
        align-items: center; 
    }
    .content{
        display: flex;
        flex-direction:column;
        width:45%
    }
    .textContent{
        width: 95%;
    }
   .buttons{
        display: flex;
        justify-content: left;
    } 
    .friends{
        display:inline-block;
        align-items: right;
        width: 60%;
        justify-content:flex-end;
    }  
     .pix{
        flex-direction: column;
        width: 65%;
        border-radius: 20px;
        justify-content: right;
     }
        .pic{
            display: flex;
            flex-direction: column;
            margin:5px;
            width:20%;
        }
    } 
