body{
    font-family: 'Work Sans', sans-serif;
  
}
header {
    background-color: #70a48b;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
     }
  
.locations {
    margin: 0em 4em;
    width: 90%;
    margin-top: 25px;
    
}
.top-logo{
    height: 70px;
    flex-direction: center;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
        
}
.Nav{
    border: 2px solid white;
    color: white;
    width: 75%;
    float: none;
    border-radius: 10px;
    padding: 25px 10px;
    display: inline;  
    }

li{
    margin-right: 1.5em;
    /* margin: 150px; */
    height: 90px;
    list-style: none;
    display: inline;  
    align-items: stretch; 
}
#donation{
    background-color: #1f211c;
    margin: 40px;
    padding: 10px;
    /* justify-content:right; */
    width: 150px;
    border-radius: 10px;
      
}

h2{
    margin-top: 0%;
    display:flex;
    width: 90%; 
    align-items: center;
}
.content{
    flex-direction:column;
    margin: 0px 10px;
}
.buttons{
    color: white;
    background-color: #70a48b;
    border:2px solid #1f211c;
    width: 35em;
    padding-left: 10px;
    padding: 5px;
    border-radius: 1em;
    margin-bottom: 10px;
}

.friends{
    width: 100%;
   
}
.pic{
    margin-bottom: 10px;
    border-radius: 10px;
    border: 20px;
    width: 35%;
    height:20%;
    align-content: center;
}
.pix{
    margin: 0em 4em;
    flex-direction:column;  
    /* border: 20px; */
    align-content: center;

}

footer {
    display: flex;
    background-color: #70a48b;
    width: 100%;
    height: 65px;
    position:fixed;
    bottom: 0px;
}
.botLogo{
    height: 60px;
    border-radius: 10px;

}

@media screen and (min-width: 768px)

{
    header{
        flex-direction: row;
        height: 150px;
       
    }
    .top-logo{
        height:75px;
        border: 20px;
        /* justify-content: flex-end; */
    }
    .Nav{
        float:right;
        /* position: relative; */
        padding:10px 25p;
        justify-content: right;
        
    }
    li{
        margin: 5px;
        list-style: none;
        display: inline;
        /* justify-content:right; */
        /* align-items: center; */
    }
    .content{
        flex-direction:row;
        margin: 0px 10px;
        width: 33%;
        height:fit-content;

    }
    h3{
        width: 33%;
    }
    .locations{
        width: 48%;
    }
    .buttons{
        width:33%;
    }
    
    .friends{
        width: 48%;
        /* float:right */
    } 
    .pix{
        justify-content:right;
        width:66%;
        border-radius: 10px;
        margin-bottom: 75px;
    }
    .pic{
        border-radius: 10px;
        margin:5px;
           
    } 
}